$red:#d1190d;
$black:#333333;
$white: #ffffff;
$border:1rem;
.about {
    margin-top: 5rem;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    

}

.ABOUTUS {
    background-color: $red;
    color: #ffffff;
    padding: 1rem;
    font-size: 4rem;
    border-radius: $border;
    margin-bottom:3rem;
    left: 0;
}

.about-text {
    width: 80vw;
    height: fit-content;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #d1190d 2px solid;
    padding: 20px 30px;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    li {
        padding-top: 0.5rem;
        font-size: 1.5rem;
        list-style-type: "👾";
        padding-inline-start: 1ch;
    }

    h1 {
        font-size: 3rem;
        color: $black;
        margin:0;
    }

    p {
        font-size: 1.75rem;
        text-align: justify;
    }

}