$red:#d1190d;
$black:#333333;
$white: #ffffff;
$border:1rem;
.about {
    margin-top: 5rem;
    display: flex;
    height: auto;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column; 

}

.ABOUTUS {
    color: #ffffff;
    padding: 1rem;
    font-size: 4rem;
    left: 0;
}

.about-text {
    width: 80vw;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: $black;
    border:$white 2px solid;
    border-radius: $border;
    padding: 20px 30px;

    ul {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    li {
        padding-top: 0.5rem;
        font-size: 1.5rem;
        list-style-type: "👾";
        padding-inline-start: 1ch;
    }

    h1 {
        font-size: 3rem;
        color: $white;
        margin:0;
    }

    p {
        font-size: 1.75rem;
        text-align: justify;
    }

}

@media (max-width:900px) {
    .about {
        width:100vw;

        .about-text {
            width: 90vw;
            h1 {
                font-size: 1.75rem;
            }
            p, li {
                font-size: 1.33rem;
            }
        }
    }


}