.team {
    height: auto;
    width: 100%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    padding: 0;
}

.job-title {
    color: #ffffff;
    font-size: 1.5rem
}

.face-cards {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap:3em;
}
.face-card {
    height: auto;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.face-container {
    background-color: #333333;
    height: 15em;
    width: 15em;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    transform: translateY(0);
    transform: scale(1);
}

.meet {
    margin-top: 5rem;
    font-size: 4em;
    color: #ffffff;
    margin-bottom: 1em;
    font-weight: 200;
}

.name {
    font-size: 2em;
    font-weight: 700;
    color: #d1190d;
}

.headshot {
    width:100%;
    height: 100%;
    object-fit: cover;
    border:5px solid #d1190d;
    border-radius: 50%;
    
}

.face-container:hover {
    transform: translateY(-0.5rem);
    box-shadow: 0 12px 8px rgba(255, 255, 255, 1);
    scale: (1.05);
}

@media (max-width:1024px){
    .face-container {
        height: 12em;
        width: 12em;
    }
    .name {
        font-size: 1.5em;
    }
}

@media (max-width:768){
    .face-container {
        height: 10em;
        width: 10em;
    }
    .name {
        font-size: 1.25em;
    }
    .meet {
        font-size: 3em;
        font-weight: 700;
    }
}

@media (max-width: 480px) {
    .face-container {
        height: 8em;
        width: 8em;
    }
    .name {
        font-size: 1em;
    }
    .meet {
        font-size: 2em;
        font-weight: 700;
    }
    .face-cards {
        gap: 2em; /* Smaller gap for smaller screens */
    }
}