$red:#d1190d;
$black:#333333;
$white: #ffffff;

@font-face {
    font-family: Terminal;
    src: url('../../Assets/Fonts/terminal-font.woff');
}


.content {
    display: flex;
    height: 5vh;
    padding: 20px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: $red;
    position: fixed;
    width: 100%;
}

h1 {
    font-family:  Poppins;
    font-size: 2rem;
    font-weight: 700;
    color: $white;
    margin: auto 20px;
}

.buttons {
    display: flex;
    flex-wrap: nowrap;
    margin: auto 40px;
    flex-direction: row;
    width: max-content;
    height: fit-content;
    align-items: flex-start;
    gap: 20px;

    a {
        text-decoration: none;
        color: $white;
        font-size: 1.25rem;
        font-weight: 700;
        position: relative;

    }

    a::before{
        top:100%;
        left:0;
        content: "";
        width: 0%;
        position: absolute;
        height: 2px;
        background: $white;
        transition: 0.3s;
    }

    a:hover::before {
        width: 100%;
    }
}
