.socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5vh;
    margin-top: 2rem;

    p {
        margin-top: 3rem;
        font-size: 2rem;
        color: white;
        text-align: center;
        a {
            text-decoration: none;
            color: #d1190d;
        }
    }

    
    h1 {
        background-color: #d1190d;
        padding:1rem;
        border-radius: 1rem;
    }
}

.links {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    gap: 6rem;

    .icon {
        text-decoration: none;
        color: #d1190d;
        font-size: 5rem;
    }
    .icon:hover{
        color:#ffffff;
    }
}

@media (max-width:900px){

    .socials {
        h1{
            font-size: 2rem;
        }
        p{
                
            font-size: 1.25rem;
            margin-bottom: 10px;
        }
    }
    .links {
        margin-top: 3rem;
        gap: 3rem;

        .icon {
            font-size: 3rem;
        }
    }
}


