$red:#d1190d;
$black:#333333;
$white: #ffffff;

.meetings {
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    h1 {
        font-size: 4rem;
        color:$white;
        padding:1rem;
        margin: 3rem;
    }
}

.meetings-text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: fit-content;
    padding: 1rem;
    width: 80vw;
    border: $red 2px solid;
    border-radius: 1rem;
    color: $white;

    p {
        font-size: 1.75rem;
    }
    a {
        text-decoration: none;
        color: #d1190d;
    }
}